---
import Layout from '../layouts/Layout.astro'
import IntroText from '../components/IntroText.astro'
---

<Layout>
  <div style="border: 1px solid rgb(194, 114, 70);">
    <div style="height: 2000px; background: lightgray; display: flex; justify-content: center;">

        <IntroText />
     
    </div>
  </div>
</Layout>
